# INSY 6500 Project

## Authors: Taylor Feagin, Sarah Gaines

### Uses Billboard 200 data and Spotify Acoustic feature data

Dataset Content and download: https://www.kaggle.com/snapcrack/the-billboard-200-acoustic-data/

Data Columns Explanation for acoustic_features table: https://www.kaggle.com/nadintamer/top-tracks-of-2017#featuresdf.csv

In [1]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook
%matplotlib inline

import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Taylor's path
cnx = sqlite3.connect(r'C:\\Users\\tbfea\\OneDrive\\Documents\\GitHub\\INSY6500Project\\Project\\billboard-200.db')

# Sarah's path
# cnx = sqlite3.connect(r'C:\\Users\\slgai\\Documents\\GitHub\\billboard_200.db')

In [3]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook

albums = pd.read_sql_query("SELECT * FROM albums", cnx)

In [25]:
albums.head()

,id,date,artist,album,rank,length,track_length
0,1,None,None,None,None,NaN,NaN
1,2,2019-01-19,A Boogie Wit da Hoodie,Hoodie SZN,1,20.0,185233.800000
2,3,2019-01-19,21 Savage,I Am > I Was,2,15.0,211050.733333
3,4,2019-01-19,Soundtrack,Spider-Man: Into The Spider-Verse,3,13.0,190866.384615
4,5,2019-01-19,Meek Mill,Championships,4,19.0,219173.894737

In [4]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook

feat = pd.read_sql_query("SELECT * FROM acoustic_features", cnx)

In [26]:
feat.head()

,song,album,artist,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,album_id
0,Voices In My Head,Hoodie SZN,A Boogie Wit da Hoodie,0.0555,0.754,142301.0,0.663,0.000000,6.0,0.101,-6.311,0.0,0.427,90.195,4.0,0.207,3r5hf3Cj3EMh1C2saQ8jyt
1,Beasty,Hoodie SZN,A Boogie Wit da Hoodie,0.2920,0.860,152829.0,0.418,0.000000,7.0,0.106,-9.061,0.0,0.158,126.023,4.0,0.374,3r5hf3Cj3EMh1C2saQ8jyt
2,I Did It,Hoodie SZN,A Boogie Wit da Hoodie,0.1530,0.718,215305.0,0.454,0.000046,8.0,0.116,-9.012,1.0,0.127,89.483,4.0,0.196,3r5hf3Cj3EMh1C2saQ8jyt
3,Swervin (feat. 6ix9ine),Hoodie SZN,A Boogie Wit da Hoodie,0.0153,0.581,189487.0,0.662,0.000000,9.0,0.111,-5.239,1.0,0.303,93.023,4.0,0.434,3r5hf3Cj3EMh1C2saQ8jyt
4,Startender (feat. Offset and Tyga),Hoodie SZN,A Boogie Wit da Hoodie,0.0235,0.736,192779.0,0.622,0.000000,6.0,0.151,-4.653,0.0,0.133,191.971,4.0,0.506,3r5hf3Cj3EMh1C2saQ8jyt

In [7]:
#make new dataframe with just the columns album and rank from 'albums' 

albumrank = albums[['album', 'rank']].copy()

In [17]:
albartrank = albums[['album', 'artist','rank']].copy()
albartR1 = albartrank[albartrank['rank'] == '1'].copy()
albartR1.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)
albartR1.to_csv(r'C:\Users\tbfea\OneDrive\Documents\GitHub\6500project\album_artist_rank1.csv')

In [11]:
albumR1 = albumrank[albumrank['rank'] == '1'].copy()

albumR1.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)



df = albumR1.merge(feat, left_on = 'album', right_on = 'album', how = "outer")
df = df.dropna()
df = df.dropna(axis='columns')

In [15]:
df2 = freq1.merge(feat, left_on = 'album', right_on = 'album', how = "outer")
df2 = df2.dropna()
df2 = df2.dropna(axis='columns')

In [ ]:
# merges the album rank dataframe with the features dataframe, basically adds the rank to the features database.
# issue: has duplicates of the song features
fulldata = pd.merge(albumrank, feat, how = "outer")
# all albums that were number one each week using the full data dataframe
num1full = fulldata[fulldata['rank'] == '1'].copy()
# data frame of the average acoustic characteristics for each album in num1full
avg_feat = num1full.groupby('album')[['acousticness','danceability','duration_ms','energy','instrumentalness','key','liveness','loudness','mode','speechiness','tempo','time_signature','valence']].aggregate('mean')
# https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe
# deletes id column of num1full to perform merge
del num1full['id']
# https://stackoverflow.com/questions/53645882/pandas-merging-101
# left2.merge(right2, left_on='keyLeft', right_on='keyRight', how='inner')
#merges num1full with freqgt1 and drops missing values. Gets full data for albums who were number 1 for more than 1 week
df = freqgt1.merge(num1full, left_on = 'album', right_on = 'album', how = "outer")
df = df.dropna()
df = df.dropna(axis='columns')
#drops duplicates 
dfunique = df.copy()
dfunique.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)

In [13]:
# shows albums with number 1 rank from albums dataframe
num1 = albums[albums['rank'] == '1'].copy()

In [ ]:
#drops the duplicates in the num 1 dataframe 
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
num1unique = num1.copy()
num1unique.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)

In [6]:
#deletes date column of feat as it is not needed
del feat['date']
del feat['id']

In [14]:
# number of weeks each album was number one 
freq1 = num1.groupby(['artist','album'])[['id']].count()
# freq1.to_csv(r'C:\Users\tbfea\OneDrive\Documents\GitHub\6500project\UniqueAlbumFeat.csv')
# histogram of number of weeks albums were number one?

In [ ]:
#frequency greater than 1; albums that were number 1 for more than one week
freqgt1 = freq1[freq1['id']>1].copy()

In [ ]:
# Sarah added - new dataframe with average acoustic feat per album
feat_uni = (feat.groupby('album')[['acousticness','danceability','duration_ms','energy','instrumentalness','key','liveness','loudness','mode','speechiness','tempo','time_signature','valence']].aggregate('mean')).reset_index()
feat_uni

In [ ]:
#merges freq 1 with feat_uni to get the average unique features of the albums who have been number 1
# Sarah added - 
testdf = freq1.merge(feat_uni, left_on = 'album', right_on = 'album', how = "outer")
testdf = testdf.dropna()
testdf = testdf.dropna(axis='columns')
# testdf

In [ ]:
# Sarah added
# testdf.describe()

In [16]:
#export dataframe to a csv to use in R
# https://datatofish.com/export-dataframe-to-csv/
#Sarah's path
# testdf.to_csv(r'C:\Users\slgai\Documents\GitHub\6500project\UniqueAlbumFeat.csv')

#Taylor's path
df2.to_csv(r'C:\Users\tbfea\OneDrive\Documents\GitHub\6500project\R1Freq_Feat_AllSongs.csv')

In [ ]:
albums.groupby()

In [44]:
# number of times album appears in top 200
albart = albums[['album', 'artist']].copy()
albart['albumcount'] = albums['album']
weekstop200 = albart.groupby(['artist', 'album'])[['albumcount']].count().reset_index()

In [46]:
# num1 = albums[albums['rank'] == '1'].copy()
weekstop200[weekstop200['artist'] == 'Taylor Swift']

             artist                                     album  albumcount
28577  Taylor Swift                                      1989         212
28578  Taylor Swift                       Beautiful Eyes (EP)          21
28579  Taylor Swift                                  Fearless         255
28580  Taylor Swift                                       Red         151
28581  Taylor Swift                                 Speak Now         137
28582  Taylor Swift       Speak Now: World Tour Live CD + DVD          11
28583  Taylor Swift                              Taylor Swift         275
28584  Taylor Swift  The Taylor Swift Holiday Collection (EP)          43
28585  Taylor Swift                                reputation          60

In [ ]:
# get 10 from each decade, 5 with low num of weeks, 5 with high num of weeks