# INSY 6500 Project

## Authors: Taylor Feagin, Sarah Gaines

### Uses Billboard 200 data and Spotify Acoustic feature data

Dataset Content and download: https://www.kaggle.com/snapcrack/the-billboard-200-acoustic-data/

Data Columns Explanation for acoustic_features table: https://www.kaggle.com/nadintamer/top-tracks-of-2017#featuresdf.csv

In [ ]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook
%matplotlib inline

import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Taylor's path
cnx = sqlite3.connect(r'C:\\Users\\tbfea\\OneDrive\\Documents\\GitHub\\INSY6500Project\\Project\\billboard-200.db')

# Sarah's path
# cnx = sqlite3.connect(r'C:\\Users\\slgai\\Documents\\GitHub\\billboard_200.db')

In [ ]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook

albums = pd.read_sql_query("SELECT * FROM albums", cnx)

In [ ]:
## https://stackoverflow.com/questions/50996820/how-to-import-a-sqlite3-database-into-python-jupyter-notebook

feat = pd.read_sql_query("SELECT * FROM acoustic_features", cnx)

In [ ]:
#make new dataframe with just the columns album and rank from 'albums' 

albumrank = albums[['album', 'rank']].copy()

In [ ]:
# merges the album rank dataframe with the features dataframe, basically adds the rank to the features database.
# issue: has duplicates of the song features
fulldata = pd.merge(albumrank, feat, how = "outer")
# all albums that were number one each week using the full data dataframe
num1full = fulldata[fulldata['rank'] == '1'].copy()
# data frame of the average acoustic characteristics for each album in num1full
avg_feat = num1full.groupby('album')[['acousticness','danceability','duration_ms','energy','instrumentalness','key','liveness','loudness','mode','speechiness','tempo','time_signature','valence']].aggregate('mean')
# https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe
# deletes id column of num1full to perform merge
del num1full['id']
# https://stackoverflow.com/questions/53645882/pandas-merging-101
# left2.merge(right2, left_on='keyLeft', right_on='keyRight', how='inner')
#merges num1full with freqgt1 and drops missing values. Gets full data for albums who were number 1 for more than 1 week
df = freqgt1.merge(num1full, left_on = 'album', right_on = 'album', how = "outer")
df = df.dropna()
df = df.dropna(axis='columns')
#drops duplicates 
dfunique = df.copy()
dfunique.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)

In [ ]:
# shows albums with number 1 rank from albums dataframe
num1 = albums[albums['rank'] == '1'].copy()

In [ ]:
#drops the duplicates in the num 1 dataframe 
# https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
num1unique = num1.copy()
num1unique.drop_duplicates(subset ="album", 
                     keep = 'first', inplace = True)

In [ ]:
#deletes date column of feat as it is not needed
del feat['date']

In [ ]:
# number of weeks each album was number one 
freq1 = num1.groupby(['artist','album'])[['id']].count()
freq1.head()
# histogram of number of weeks albums were number one?

In [ ]:
#frequency greater than 1; albums that were number 1 for more than one week
freqgt1 = freq1[freq1['id']>1].copy()

In [ ]:
# Sarah added - new dataframe with average acoustic feat per album
feat_uni = (feat.groupby('album')[['acousticness','danceability','duration_ms','energy','instrumentalness','key','liveness','loudness','mode','speechiness','tempo','time_signature','valence']].aggregate('mean')).reset_index()
feat_uni

In [ ]:
#merges freq 1 with feat_uni to get the average unique features of the albums who have been number 1
# Sarah added - 
testdf = freq1.merge(feat_uni, left_on = 'album', right_on = 'album', how = "outer")
testdf = testdf.dropna()
testdf = testdf.dropna(axis='columns')
# testdf

In [ ]:
# Sarah added
# testdf.describe()

In [ ]:
#export dataframe to a csv to use in R
# https://datatofish.com/export-dataframe-to-csv/
#Sarah's path
# testdf.to_csv(r'C:\Users\slgai\Documents\GitHub\6500project\UniqueAlbumFeat.csv')

#Taylor's path
testdf.to_csv(r'C:\Users\tbfea\OneDrive\Documents\GitHub\6500project\UniqueAlbumFeat.csv')